{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
    {% if user.is_authenticated and user.is_staff %}
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Blog Post</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn-outline-info" type="submit">Post</button>
            </div>
        </form>
    {% else %}
           <legend class="border-bottom mb-4">Blog Post</legend>
           <h4 class="text-muted">You are not authorised to create new posts.</h4>
    {% endif %}
    </div>
{% endblock content %}